extends layout
     
block content
    
    #contenedor
      header#cabezaPag
        h1 Bienvenido
      .titulo Registro Estudiantil
      section#cuerpoApp
        form.ingresos(id='w' action='/estudiant', method='post')
          
          .nombre
            label#nombre(for='tex', name='nombre') Nombre
            .insertarNombre
              input(type='text', placeholder='Nombre', name='nombre')
          .apellido
            label#apellido(for='tex', name='apellido') Apellido
            .insertarApellido
              input(type='text', placeholder='Apellido', name='apellido')
          .cedula
            label#cedula(for='tex', name='cedula') Cedula
            .insertarCedula
              input(type='text', placeholder='Cedula', name='cedula')
          .carrera
            label#carrera(for='tex', name='carrera') Carrera
            .insertarCarrera
              input(type='text', placeholder='Carrera', name='carrera')
          .fecha
            label#fecha(for='tex', name='fecha') Fecha de Ingreso
            .insertarFecha
              input(type='text', placeholder='Fecha', name='fecha')
          .button
            input#boton(type='submit', value='Agregar')
            
    section#tabla
      
      
        table#tabla1.muestra
          caption Informacion de Estudiantes
          thead
            tr
              th Nombre
              th Apellido
              th Cedula
              th Carrera
              th Fecha de Ingreso
              
                  tr
                                            
                        td
                        td
                        td
                        td
                        td
                        td
                            
                            
                           a(type='submit' href='')
                                    img(src='' alt='Borrar')
                           a(type='submit' href='')  
                                    img(src='' alt='Editar')    
                         
    footer#pie
      p Hecho con <3 Jess
