
<div id="contenedor">
  <header id="cabezaPag">
    <h1>Bienvenido</h1>
  </header>
  <div class="titulo">Registro Estudiantil</div>
  <section id="cuerpoApp">
    <form class="ingresos" id="w" action="/api/estudiant" method="post">
      <div class="nombre">
        <label id="nombre" for="tex" name="nombre">Nombre</label>
        <div class="insertarNombre">
          <input type="text" placeholder="Nombre" name="nombre"/>
        </div>
      </div>
      <div class="apellido">
        <label id="apellido" for="tex" name="apellido">Apellido</label>
        <div class="insertarApellido">
          <input type="text" placeholder="Apellido" name="apellido"/>
        </div>
      </div>
      <div class="cedula">
        <label id="cedula" for="tex" name="cedula">Cedula</label>
        <div class="insertarCedula">
          <input type="text" placeholder="Cedula" name="cedula"/>
        </div>
      </div>
      <div class="carrera">
        <label id="carrera" for="tex" name="carrera">Carrera</label>
        <div class="insertarCarrera">
          <input type="text" placeholder="Carrera" name="carrera"/>
        </div>
      </div>
      <div class="fecha">
        <label id="fecha" for="tex" name="fecha">Fecha de Ingreso</label>
        <div class="insertarFecha">
          <input type="text" placeholder="Fecha" name="fecha"/>
        </div>
      </div>
      <div class="button">
        <input id="boton" type="submit" value="Agregar"/>
      </div>
    </form>
  </section>
</div>


<section id="tabla" >
  <caption>Informacion de Estudiantes
    <thead>
      <tr action="/estudiant" method="post">
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cedula</th>
        <th>Carrera</th>
        <th>Fecha de Ingreso
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            <a type="submit" href="">
            <img src="" alt="Borrar"/></a>
            
            <a type="submit" href=""> 
            <img src="" alt="Editar"/></a>
            
            </td>
          </tr>
        </th>
      </tr>
    </thead>
  </caption>
</section>
<footer id="pie">
  <p>Hecho con <3 Jess</p>
</footer>


<script type="text/javascript">
    let estudiantList = document.createElement('ul')
    
    const myHeaders = new Headers();
    myHeaders.append('estudiant', `Bearer #{estudiant}`)
    
    fetch('/api/estudiant', {
            method: 'GET',
            body: myHeaders
            })
        
        .then(res => res.json())
        .then(data => {
            data.estudiants.map(estudiant => {
                let text = document.createTextNode(estudiant.nombre+ " " + estudiant.apellido+ " "+estudiant.cedula+ " " +estudiant.carrera+" "+estudiant.fecha)
                let elem = document.createElement ('li')
                elem.appendChild(text)
                estudiantList.appendChild(elem)  
            })
                document.body.appendChild(estudiantList)
    })
    
    
    
    </script>
    
    





