<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title> Registro Estudiantil</title>
    <link rel="stylesheet", href="../../public/estilo.css">
    
</head>
<body>

 {{{body}}}
 
 
 </body>
</html>    
           
   