<!DOCTYPE html>
<html>
  <head>
    <title>Registro de Estudiantil</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      
  </head>
    <body>
       <div id="contenedor">
           <header id="cabezaPag">
           <h1>Bienvenido</h1>
           </header>
           <div class="titulo">Registro Estudiantil</div>
            <section id="cuerpoApp">
                
                <form class="ingresos" action="../basededatos/basedatos", method="post">
                    
                    
                    <div class="nombre">
                        <label for="tex" id="nombre" name="nombre">Nombre</label>
                        <div class="insertarNombre">
                            <input type="text" placeholder="Nombre" name="nombre" >
                        </div>
                    </div>
                    
                    
                    <div class="apellido">
                        <label for="tex" id="apellido" name="apellido">Apellido</label>
                        <div class="insertarApellido">
                            <input type="text" placeholder="Apellido" name="apellido" >
                        </div>
                    </div>
                    
                    
                    <div class="cedula">
                        <label for="tex" id="cedula" name="cedula">Cedula</label>
                        <div class="insertarCedula">
                            <input type="text" placeholder="Cedula" name="cedula" >
                        </div>
                    </div>
                    
                    
                    <div class="carrera">
                        <label for="tex" id="carrera" name="carrera">Carrera</label>
                        <div class="insertarCarrera">
                            <input type="text" placeholder="Carrera" name="carrera" >
                        </div>
                    </div>
                    
                    
                    <div class="fecha">
                    <label for="tex" id="fecha" name="fecha">Fecha de Ingreso</label>
                        <div class="insertarFecha">
                            <input type="text" placeholder="Fecha" name="fecha" >
                        </div>
                    </div>
                    
                    
                    <div class="button">
                        <input type="submit" value="Insertar" id="boton"/>
                    </div>
                </form>
           </section>
           
           
           
           <section id="tabla">
               <table id="tabla1" class="muestra">
                   <caption>Informacion de Estudiantes</caption>
                   
                   <thead> 
                    <tr> 
                        <th>Nombre</th> 
                        <th>Apellido</th> 
                        <th>Cedula</th>
                        <th>Carrera</th>
                        <th>Fecha de Ingreso</th>
                    </tr>
                   </thead>
                   
                   <tbody>
                    <tr>
                        <td >-----</td>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                    </tr>
                   </tbody>
               </table>
           </section>
        </div>

        <footer id="pie">
            <p>Hecho con &lt;3 Jess</p>
        </footer>
        <script type="text/javascript" src="app.js"></script>
</body>
</html>
    