
doctype html
html
  head
    title Registro Estudiantil
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
     $(document).ready(function() {
      $('#example').DataTable();
      });
body
    block content