<div class="panel panel-default">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;" class="glyphicon glyphicon-plus"> </span> Agregar Nuevo Estudiante</p>
	</div>
	<div class="panel-body">
		<form ng-submit="addEstudiante()">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" class="form-control" id="name" ng-model="estudiante.nombre">
    </div>
    <div class="form-group">
      <label for="dept">Apellido:</label>
      <input type="text" class="form-control" id="dept" ng-model="estudiante.apellido">
    </div>
    <div class="form-group">
      <label for="area">Cedula:</label>
      <input type="text" class="form-control" id="area" ng-model="estudiante.cedula">
    </div>
    <div class="form-group">
      <label for="contact">Carrera:</label>
      <input type="text" class="form-control" id="contact" ng-model="estudiante.carrera">
    </div>
      <div class="form-group">
      <label for="status">Fecha:</label>
      <input type="text" class="form-control" id="status" ng-model="estudiante.fecha">
    </div>

    <button type="submit" style="color:#5bc0de;" class="btn btn-default">Agregar</button>
    <a href="#/estudiantes" class="btn btn-default"> Cancelar</a>
</form>		
    <div>
<div>