<div class="panel panel-default" ng-init="showEstudiante()">
	<div class="panel-heading">
	  <p class="panel-title"> Informacion del Estudiante</p>
	</div>
	<div class="panel-body">
		<form>
		<div class="form-group">
		 <label class="form-control">Nombre: {{ estudiantes.nombre }}</label>
		 <label class="form-control">Apellido: {{ estudiantes.apellido }}</label>
		 <label class="form-control">Cedula: {{ estudiantes.cedula }}</label>
		 <label class="form-control">Carrera: {{ estudiantes.carrera }}</label>
		 <label class="form-control">Fecha: {{ estudiantes.fecha }}</label>
		 <a href="#/estudiantes" class="btn btn-default"> Regresar</a>
		</div>
	</form>		
    <div>
<div>